.tabelas2-container .css-1pclhgl-MuiTable-root{
    min-width:556px!important;
}
.card-cliente-main-container .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none !important;
    border-top-right-radius: 0px!important;
    border-top-left-radius: 0px !important;
}