#modal-modal-title-deletar-cobranca {
    color: #CC7800 !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 130% !important;

}